@import "tailwindcss";

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* globals.css */
/* .text-holo {
  background: linear-gradient(90deg, #a5f3fc, #f0abfc, #c084fc);
  -webkit-background-clip: text;
  color: transparent;
}

.text-holo-light {
  background: linear-gradient(90deg, #93c5fd, #e879f9, #d8b4fe);
  -webkit-background-clip: text;
  color: transparent;
}

.hover\:border-holo:hover {
  border-image: linear-gradient(90deg, #60a5fa, #e879f9, #a855f7) 1;
} */
